@{
    ViewData["Title"] = "Privacy Policy";
    //tinfo200:[2021-03-11-ex3po-dykstra1] - Privacy test page to show off Razor commands
}
<h1>@ViewData["Title"]</h1>
<h2>@ViewData["FirstName"]</h2>
<h2>@ViewData["LastName"]</h2>
<h2>@ViewData["EmailAddress"]</h2>

<p>Use this page to detail your site's privacy policy.</p>
